.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgb(0, 0, 0), #212b46);
}

.title{
  font-size: 4.2em;
  color: white;
  animation: flipTitle 2s;
}

@keyframes flipTitle{
  from{
    transform: rotateX(90deg);
  }
  to{
    transform: rotate(0deg);
  }
}

.containerInput{
  background-color: rgba(70, 73, 92, 0.2);
  padding: 15px;
  margin: 34px 0;
  display: flex;
  border-radius: 8px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.containerInput input{
  background-color: transparent;
  border: 0;
  font-size: 20px;
  color: white;
  outline: none;
  margin-right: 8px;
}

.containerInput input::placeholder{
  color: gray;
}

.buttonSearch{
  background-color: transparent;
  border: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s;
}

.buttonSearch:hover{
  transform: scale(1.4);
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 500px;
  border-radius: 8px;
}

.main h2{
  margin: 16px 0;
  font-size: 32px;
}

.main span{
  margin-bottom: 12px;
  font-weight: bold;
}

@media (max-width: 564px){
  .title{
    font-size: 60px;
  }
  .main{
    width: 80%;
  }
  
}

@media (max-width: 504px){
  .title{
    font-size: 50px;
  }
  .main{
    width: 80%;
  }
}

@media (max-width: 376px){
  .title{
    font-size: 40px;
  }
  .main{
    width: 80%;
  }
}